.ex-1-square {
    width: 100px;
    height: 100px;
    border: 1px solid red;
    transition: background-color 2s;
}
.ex-1-square:hover{
    background-color: red;

}
/* --------- */
.ex-2-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s;
}
.ex-2-square:active{
    width: 1100px;

}
/* --------- */
   .ex-3-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: border-radius 1s;
}
.ex-3-square:hover{
    border-radius: 100%;
}
/* ---------- */

.ex-4-square {
    width: 100px;
    height: 100px;
    background: red;
    transition: opacity 1s;
}
.ex-4-square:hover{
    opacity: 0;

}
/* ---------- */
.ex-5-square {
    margin: 20px;
    width: 60px;
    height: 60px;
    background: red;
    transition: all 1s;
}

.ex-5-square:hover{
    scale: 2;
}
.ex-5-square:active{
    scale: .05;
}
/* ---------- */



.ex-6-img, .ex-7-img, .ex-8-img {
    width: 500px;
}

.ex-6-img:hover{
    filter: grayscale(3);
}
.ex-7-img{
    transition:all 2s ;
}
.ex-7-img:hover{
    filter:invert();
}

.ex-8-img{
    transition: all 1s;
}

.ex-8-img:hover{
    border-radius: 20px;
    filter: brightness(2);
    filter:invert(3);
}

/* --------- */





.ex-9-img {
    margin: 50px 100px;
    width: 400px;
    transition: all 2s;
}

.ex-9-img:hover{
    border-radius: 20px;
    scale: 1.5;

}
/* ---------- */

.ex-10-icon {
    font-size: 60px;
    animation: rotate1 2s  linear infinite;
}

@keyframes rotate1 {
    from{
        transform: rotate(360deg);
    }

    to{
        transform: rotate(0deg);
    }
        
}

/* ---------- */
.ex-11-icon {
    font-size: 60px;
}

.ex-11-icon:hover{
    animation: rotate 3s linear;
   
    
}

@keyframes rotate{
    0% {
        transform: rotate(0deg);
      }
      80% {
        transform: rotate(315deg); /* 3/4 di giro in senso orario (270 gradi) */
      }
      100% {
        transform: rotate(0deg); /* Ruota nuovamente in senso antiorario */
      }
}
/* ----------- */




.ex-12-button, .ex-13-button {
    position: relative;
    display: block;
    width: 200px;
    height: 70px;
    text-transform: uppercase;
    border: 3px solid #1b3c59;
    color: #1b3c59;
    font-size: 20px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



.ex-12-top-white, .ex-13-top-white {
    position: absolute;
    top: -10px;
    left: 10%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-12-button:hover .ex-12-top-white {
    animation: destra 2s linear;
}

@keyframes destra{
    0% { left: 10%
       
      }
      50% { left: 70%
        
      }
      100% { left: 10%
       
      }
}


.ex-12-button:hover .ex-12-bottom-white {
    animation: sinistra 2s linear;
}

@keyframes sinistra{
    0% { right: 20%
       
      }
      50% { right: 70%
        
      }
      100% { right: 20%%
       
      }
}


.ex-12-bottom-white, .ex-13-bottom-white {
    position: absolute;
    bottom: -10px;
    right: 20%;
    background: #f5f5f5;
    width: 60px;
    height: 20px;
}

.ex-13-button:hover .ex-13-top-white {
    animation: destra13 1s infinite;
}

@keyframes destra13 {
    0% {
        left: 10%;
        top: -10px;
    }
    30% {
        left: calc(100% - 30px);
        top: -10px;
    }
    45% {
        left: calc(100% - 30px);
        top: 100%;
    }
    75% {
        left: 0;
        top: 100%;
    }
    90% {
        left: -15px;
        top: -10px;
    }
    100% {
        left: 10%;
        top: -10px;
    }
}


.ex-13-button:hover .ex-13-bottom-white {
    animation: sinistra13 1s infinite;
}
@keyframes sinistra13 {
    0% {
        bottom: -10px;
        right: 20%;
    }
    30% {
        right: calc(100% - 30px);
        bottom: -10px;
    }
    45% {
        right: calc(100% - 30px);
        bottom: 100%;
    }
    75% {
        right: 0;
        bottom: 100%;
    }
    90% {
        right: -15px;
        bottom: -10px;
    }
    100% {
        bottom: -10px;
        right: 20%;
    }
}

